button {
  margin-top: 8px;
}

form div {
  margin-bottom: 8px;
}

label {
  font-weight: bold;
  margin-right: 8px;
}

input {
  max-width: 32px;
  padding-left: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  
  opacity: 1;
}

#weight {
  max-width: 160px;
}
#weight::-webkit-outer-spin-button,
#weight::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}